<!-- API SEARCH RESULTS PAGE (DISPLAY RESULTS AS RDIO::SONG OBJECTS) -->


<!-- TODO: CSS FLIP EFFECT  -->

<!-- background image -->
<style>
body
{ background-color:#162955;
}
</style>

<%#=render plain: params[:usersearch]%>

<span id="sidebar">
  <%=link_to "Go back home", root_path%><br>
  <%=link_to "search again", search_path%><br><br><br><br><br>
  <%=link_to "my collection", songs_path%><br><br>
  <%=link_to "top songs", ""%><br>
  <%=link_to "top artists", ""%><br>
  <%=link_to "top albums", ""%><br>
</span>




<!-- all api results(rdio::song objects) -->

<div class="container">
  <div class="row">
  <h1 id="results_title">Results</h1><hr>

    <%if @result.present? %>
      <%@result.each do |x|%>
        <div class="col-md-4">
          <div><%=image_tag x.artwork %></div><br>
          <div id="songname"><%=x.name%></div>
          <div id="songartist"><%=x.artist%></div>
          <div id="otherinfo">Other info:</div>
          <div id="songalbum">albumname:<%=x.songalbum%></div>
          <div id="songid">Songid:<%=x.songid%></div>
          <div id="artistid">artistid:<%=x.artistid%></div>
          <div id="albumid">albumid:<%=x.albumid%></div>
          <%=link_to "Add this Song to my Collection", 
          songs_path(:name => x.name, :artist => x.artist, 
          :artwork => x.artwork, :songalbum => x.songalbum,
          :songid => x.songid, :artistid => x.artistid,
          :albumid => x.albumid), method: :post%>
        </div>
    <%end%>
    <%else%>
      <%="Sorry, no results matched that search"%>
    <%end%>
  </div>
</div>




