<!-- API SEARCH RESULTS PAGE (DISPLAY RESULTS AS RDIO::SONG OBJECTS) -->

<%#=render plain: params[:usersearch]%>
<%=link_to "Go back home", root_path%>
<h1>Results</h1>




<!-- all api results(rdio::song objects) -->

<%if @result.present? %>
  <%@result.each do |x|%>

      <div class="col-md-4">
      <%=image_tag x.artwork %><br>
      <div id="somename"><%=x.name%></div>
      <div id="songartist"><%=x.artist%></div>
      <!-- off the album:<%=x.album%><br> -->
      <%#=x.songid%>
      <%#=x.songid%>
      <!-- convert song to SONG model object -->
      <%=link_to "Add this Song to my Collection", 
      songs_path(:name => x.name, :artist => x.artist, 
      :artwork => x.artwork),method: :post%>
      </div>
  <%end%>
<%else%>
<%="Sorry, no results matched that search"%>
<%end%>




