<style>
body{
background-color:#162955;
}
</style>

<%=link_to "search for more", search_path %> || 
<%=link_to "home page", root_path%> 

<hr>



<!--########          MY COLLECTION INDEX VIEW       #####-->

<div class="inlinedivs" id="usercollection">
<h2> <%=current_user.name%>'s Database </h2>
</div>
<div class="inlinedivs">
  <%=form_tag("/songs", method: "get") do %>
  <%#=label_tag(:searchmydb, "Search my collection:") %>
  <%=text_field_tag(:searchmydb)%>
  <%=submit_tag("Search my collection") %>
  <%end%>
</div>
<div class="inlinedivs">
  <%#= button_to "list view", action: "index" %>
  <!-- <form method="get" action="/controller/index2.html.erb" class="button_to"></form> -->
  <%= link_to "View as List", songs_path(listing: true) %>
  <%#=link_to "list view", "/songs"%>
  <%#=render :partial => "index2" %>
</div>
<hr>
<!-- #########################my collection display(thumbnails)########################## -->
<%@songs.each do |mysong| %>
  <div class="col-md-4">
    <div><%=image_tag mysong.artwork %></div><br>
    <div id="songname">SONGNAME:<%=mysong.name%></div>
    <div id="songartist">SONGARTIST:<%=mysong.artist%></div>
    <div id="songalbum">SONGALBUM:<%=mysong.songalbum%></div>
    <div id= "artistid">ARTISTID:<%=mysong.artistid%></div>
    <div id="albumid">ALBUMID:<%=mysong.albumid%></div>
    <div id="songid">SONGID:<%=mysong.songid%></div>
    <div id="songrating">My Rating:<%= rating_for mysong, "rating", :enable_half => true, :disable_after_rate => false %></div>


    <%#=form_for :song, url: rate_songs_path(mysong), method: :patch do |f| %>
    <%#= f.number_field :rating, min:0, max:5 %>
    <%#= f.submit "submit" %>
    <%#end%> 

    <!-- MY RATING:<%#=mysong.rating%><br> -->
    <%=link_to "Remove from my collection", delete_songs_path(mysong), 
    method: :delete, data:{confirm: "are you sure?"} %>
  </div>
<%end%>

