<%=link_to "search for more", search_path %><br>

<%#=form_tag search_songs_path, method: :get, role: "search" do%>
<%#=text_field_tag :search, params[:search], class="form-control"%>
<%#=submit_tag "Search", name: nil, class="btn btn-default"%>
<%#end%>

<h2> My Database </h2>

<%@songs.each do |mysong| %>

  <div class="col-md-4">
  <%=image_tag mysong.artwork %><br>
  <div id="songname"><%=mysong.name%></div>
  <div id="songartist"><%=mysong.artist%></div>

  <!-- <form> <input type="number" name="quantity" min="1" max="5">
  <input type="submit" method:"patch"></form> -->



  <!-- <div class="container well">
    <%#=form_tag url: submit_search_path, method: :post do%>
        <input type="text" class="searchbox" placeholder="Song Search.." 
        name="usersearch" required/>
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <%#end%>
  </div> -->


  <%=form_for :song, url: rate_songs_path(mysong), method: :patch do |f| %>
  <%= f.number_field :rating %>
  <%= f.submit "submit" %>
  <%end%> 


  MY RATING:<%=mysong.rating%>


  </div>
<%end%>



