Listing

<%=link_to "search for more", search_path %>

<hr>

<style>
body{
  background-color: gray;
}
</style>


<!--###########my collection search / list view / other actions################# -->

<div class="inlinedivs" id="usercollection">
<h2> <%=current_user.name%>'s Database </h2>
</div>
<div class="inlinedivs">
  <%=form_tag("/songs", method: "get") do %>
  <%#=label_tag(:searchmydb, "Search my collection:") %>
  <%=text_field_tag(:searchmydb)%>
  <%=submit_tag("Search my collection") %>
  <%end%>
</div>
<div class="inlinedivs">
<%#= button_to "list view", action: "index" %>
<!-- <form method="get" action="/controller/index2.html.erb" class="button_to"></form> -->
<%=link_to "view as thumbnails", songs_path%>
<%#=render :partial => "index2" %>
</div>
<hr>


<!-- #########################my collection display (list view)########################## -->

<div class="container">

<table class="table">
  <tr>
        <th></th>
        <th>name</th>
        <th>artist</th>
        <th>album</th>
        <th>artistid</th>
        <th>albumid</th>
        <th>songid</th>
        <th>rating</th>
        <th colspan="4"></th>
     </tr>
     <hr>
 
<%@songs.each do |mysong| %>
<tr>
<td><div id="listimage"><%=image_tag mysong.artwork%></div></td>
<td><%=mysong.name%></td>
<td><%=mysong.artist%></td>
<td><%=mysong.songalbum%></td>
<td><%=mysong.artistid%></td>
<td><%=mysong.albumid%></td>
<td><%=mysong.songid%></td>
<td>"rating goes here"</td>
</tr> 


      <% end %>
      </table>
      <hr>

    </div>






