<!DOCTYPE html>
<html>
<head>
  <title>Mmdb</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>


<!-- Google font-->
<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>

<!--Font Awesome (icons) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- <nav class="navbar navbar-inverse"> -->
<nav class="navbar-default">
<!-- <%#=image_tag 'mmdb.png', id: "mylogo"%>&nbsp;&nbsp;&nbsp; -->
  <span id="navbarname">mymusicdatabase.</span>

  <span id="userauth">
  <% if user_signed_in? %>
      Hi <%=current_user.name%>
        <%if current_user.profile_image_url.present? %>
          <%= image_tag current_user.profile_image_url %>
        <%end%>
          <%#=link_to "My database", "/songs"%>
          <%=link_to 'Logout',destroy_user_session_path,:method =>:delete %>
        <%else%> 
          
          <span class="loginstuff">
            <i class="fa fa-user fa-2x"></i>

      <%=link_to 'LOGIN',new_user_session_path%>
    <%=link_to image_tag('twitterbtn.jpg', :id => 'twitterbtn'), user_omniauth_authorize_path(provider: :twitter)%>
    <%=link_to image_tag('fbbtn.jpg', :id => 'facebookbtn'), user_omniauth_authorize_path(provider: :facebook)%>


          </span>

          
    <%end%>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%=  alert %></p>
  </nav>
</head>
<body>

<%= yield %>

</body>
</html>
