<!DOCTYPE html>
<html>
<head>
  <title>Mmdb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<p class="notice"><%= notice %></p>
<p class="alert"><%=  alert %></p>

<!-- Google font-->
<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
