<!DOCTYPE html>
<html>
<head>
  <title>Mmdb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


<!-- Google font-->
<link href='http://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>

<nav class="navbar navbar-default">
<!-- <div class="container-fluid"> -->
<%=image_tag 'itunes10.png', id: "mylogo"%>

<ul class="nav navbar-nav navbar-right">
  <li>
  <% if user_signed_in? %>
        Hi <%=current_user.name%>,
        <%=link_to 'Logout', 
        destroy_user_session_path, 
        :method => :delete %>
        <%else%> 
        <%=link_to 'Login', 
        new_user_session_path%>
        <%end%></li>
</ul>
<!-- </div> -->


</div>
</nav>
<p class="notice"><%= notice %></p>
<p class="alert"><%=  alert %></p>

</head>
<body>

<%= yield %>

</body>
</html>
